* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.intro {
  background-image: url("../images/hero.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  border-bottom: solid 1px #888;
}

.intro__list {
  display: flex;
  cursor: pointer;
}

.intro__item {
  padding: 20px;
}

.intro__social {
  padding: 10px;
}

.fas {
  padding-right: 5px;
}

.fas:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.fab {
  padding: 10px;
  font-size: 20px;
}

.fab:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.nav {
  color: white;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: 15px 10px;
}

.nav__link:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.hamicon {
  display: none;
}

.slogan {
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 15%;
}

.slogan__title {
  font-size: 40px;
  opacity: 0.7;
}

.slogan__subtitle {
  font-size: 40px;
  opacity: 0.5;
  margin-bottom: 40px;
}

.slogan__link {
  padding: 10px 20px;
  border: 2px solid #2e93b4;
  background-color: #2e93b4;
}

.slogan__link:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.about {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 100px;
  margin: 100px;
}

.about__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}

.about__title::after {
  content: "";
  position: absolute;
  width: 80px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 100%;
}

.about__span {
  margin: 30px 0;
  color: #777;
}

.about__img {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.skills {
  background-image: url("../images/skills.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 672px;
  color: white;
}

.skills__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
  margin-left: 20.5%;
  padding-top: 5%;
}

.skills__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 105%;
}

.skills__span {
  margin-top: 5%;
  margin-left: 20.5%;
  color: #6D687E;
  font-size: 20px;
  max-width: 500px;
}

.services {
  margin-top: 75px;
  text-align: center;
}

.services__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.services__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 48%;
  top: 50px;
}

.services__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin-left: 20%;
  grid-gap: 100px;
}

.services__card {
  margin: 0 auto;
  padding: 50px;
  background-color: #e6e6e6;
  width: 250px;
}

.services__subtitle {
  margin-bottom: 10px;
}

.services__span {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  color: #777;
}

.services__img {
  margin-top: 75px;
  width: 100%;
}

.icon {
  color: #5dc6e8;
  font-size: 30px;
  margin-bottom: 10px;
}

.portfollio {
  text-align: center;
}

.portfollio__title {
  margin-top: 100px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.portfollio__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 48%;
  top: 50px;
}

.portfollio__list {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.portfollio__item {
  padding: 10px;
}

.portfollio__link {
  font-size: 20px;
}

.portfollio__link:hover {
  color: red;
  transition: 0.3s;
}

.portfollio__gallery {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% auto auto;
}

.portfollio__img {
  width: 300px;
  height: 300px;
  padding: 20px;
}

.footer {
  margin-top: 100px;
  background-color: black;
  height: 30vh;
  color: white;
  position: relative;
}

.footer__title {
  margin-left: 25%;
  padding: 40px 0 20px;
}

.footer__span {
  margin-left: 25%;
  padding: 10px 0;
}

.footer__social {
  position: absolute;
  left: 62%;
  top: 20%;
}

.ficon {
  color: #5dc6e8;
}

.ficon2 {
  font-size: 30px;
  width: 30px;
  margin: 10px;
  padding: 20px;
  color: black;
  border-radius: 50%;
  background-color: #777;
  text-align: center;
}

.ficon2:hover {
  background-color: #5dc6e8;
  color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .intro {
    background-position: center;
  }
  .intro__info {
    display: none;
  }
  .nav__list {
    display: none;
  }
  .nav__logo {
    position: relative;
    display: block;
    padding: 10px;
  }
  .nav__wrapper {
    margin: 0;
  }
  .hamicon {
    display: block;
    font-size: 35px;
    margin-left: 80%;
    position: absolute;
    top: 20px;
  }
  .active {
    position: absolute;
    top: 10%;
    width: 100%;
    display: block;
    background-color: black;
  }
  .slogan {
    margin: 0;
  }
  .slogan__title {
    padding-top: 70%;
  }
  .about {
    display: block;
  }
  .about__title {
    text-align: center;
    font-size: 25px;
  }
  .about__title::after {
    left: 10vw;
  }
  .about__img {
    display: none;
  }
  .skills {
    background-image: url("../images/rwd__skills.png");
    width: 100%;
  }
  .skills__title {
    padding-top: 90px;
  }
  .skills__title::after {
    top: 140px;
    left: 20vw;
  }
  .skills__span {
    display: none;
    text-align: center;
  }
  .services__title {
    margin-bottom: 50px;
  }
  .services__title::after {
    top: 45px;
    left: 140px;
  }
  .services__content {
    margin: 0 auto;
    display: block;
  }
  .services__card {
    margin-bottom: 20px;
  }
  .services__img {
    display: none;
  }
  .portfollio__title::after {
    top: 45px;
    left: 140px;
  }
  .portfollio__gallery {
    display: block;
  }
  .footer {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 300px;
  }
  .footer__title {
    margin: 0;
  }
  .footer__span {
    margin: 0;
  }
  .footer__social {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */