* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.container__banner {
  max-width: 1900px;
  margin: 0 auto;
}

.container__team {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.arrow__icon {
  padding: 20px;
  position: fixed;
  top: 90%;
  left: 100%;
  transform: translateX(-100%);
  display: none;
  z-index: 1;
  opacity: 0.5;
  animation: arrow__anim .4s forwards 0s ease-out;
}

.arrow__icon:hover {
  opacity: 1;
}

@keyframes arrow__anim {
  0% {
    transform: rotate(0) translateX(150px);
  }
  100% {
    transform: rotate(0) translateX(-100px);
  }
}

.arrow__active {
  display: block;
}

.intro {
  background-image: url("../images/hero.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  border-bottom: solid 1px #888;
}

.intro__list {
  display: flex;
  cursor: pointer;
}

.intro__item {
  padding: 20px;
}

.intro__social {
  padding: 10px;
}

.fas {
  padding-right: 5px;
}

.fas:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.fab {
  padding: 10px;
  font-size: 20px;
}

.fab:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.nav {
  color: white;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: 15px 10px;
}

.nav__link:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.fixed___flex {
  display: flex;
  justify-content: space-around;
}

.fixed {
  position: fixed;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  /*left: 50%;
    
    transform: translate(-50%) !important;*/
  width: calc(100% - 30px);
  top: 0;
  color: black;
  z-index: 3;
  animation: navbar 0.3s forwards 0s ease-out;
}

@keyframes navbar {
  0% {
    transform: rotate(0) scale(0) translateY(-600px);
  }
  100% {
    transform: rotate(0) scale(1) translateY(0);
  }
}

.hamicon {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.slogan {
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 15%;
}

.slogan__title {
  font-size: 40px;
  opacity: 0.7;
}

.slogan__subtitle {
  font-size: 40px;
  opacity: 0.5;
  margin-bottom: 40px;
}

.slogan__link {
  padding: 10px 20px;
  border: 2px solid #2e93b4;
  background-color: #2e93b4;
}

.slogan__link:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.about {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 100px;
  margin: 100px;
}

.about__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  color: #222222;
  margin-bottom: 50px;
}

.about__title::after {
  content: "";
  position: absolute;
  width: 80px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 120%;
}

.about__span {
  margin: 30px 0;
  color: #777;
}

.about__img {
  margin-top: 30px;
  height: 80%;
  width: 80%;
}

.skill {
  background-image: url("../images/services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
}

.skill__title {
  padding-top: 50px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.skill__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 50%;
  top: 95px;
  transform: translateX(-50%);
}

.skill__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.skill__card {
  margin: 30px 50px;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
  position: relative;
}

.skill__subtitle {
  margin-top: 20px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
}

.skill__subtitle::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 4px #2e93b4;
  left: 21%;
  top: -250%;
  transform: translateX(-50%);
}

.skill__subtitle::before {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 4px #2e93b4;
  left: 80%;
  top: -250%;
  transform: translateX(-50%);
}

.skill__img {
  margin-bottom: 20px;
}

.skill__description {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 400px;
}

.skill__link {
  position: absolute;
  font-size: 25px;
  top: 93%;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  border: solid 4px #2e93b4;
  background-color: #2e93b4;
  padding: 10px 30px;
}

.skill__link:hover {
  transition: 0.3s;
  color: #2e93b4;
  background-color: #fff;
  border: solid 4px #fff;
}

.design {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.design__span {
  color: red;
  font-size: 60px;
}

.services {
  margin-top: 75px;
  text-align: center;
}

.services__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #222222;
  position: relative;
}

.services__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 48%;
  top: 50px;
}

.services__content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card {
  margin: 0 auto;
  padding: 50px;
  background-color: #f7f7f7;
}

.services__subtitle {
  margin-bottom: 10px;
}

.services__span {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  color: #777;
}

.services__img {
  position: relative;
  margin-top: 75px;
  width: 100%;
}

.banner {
  background-image: url("../images/services.jpeg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  font-size: 40px;
  text-align: center;
}

.icon {
  color: #5dc6e8;
  font-size: 30px;
  margin-bottom: 10px;
}

.team__title {
  margin: 100px;
  text-align: center;
  font-size: 30px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.team__title::after {
  content: "";
  position: absolute;
  width: 85px;
  border-bottom: solid 3px #5dc6e8;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.team__wrapper {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 2em;
  text-align: center;
}

.team__description {
  margin: 50px 0 20px;
  text-align: center;
  font-size: 35px;
}

.team__span {
  font-size: 35px;
  text-align: center;
}

.team__card {
  width: 100%;
  position: relative;
}

.team__overlay {
  position: absolute;
  background: #2e93b4;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.team__img {
  display: block;
  width: 100%;
  height: auto;
}

.team__card:hover .team__overlay {
  display: block;
  animation: yourAnimation 0.3s forwards 0s ease-out;
}

@keyframes yourAnimation {
  0% {
    transform: rotate(0) scale(0);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.portfollio {
  text-align: center;
}

.portfollio__title {
  margin-top: 250px;
  margin-bottom: 100px;
  font-size: 30px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.portfollio__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.portfollio__link {
  padding: 0 10px;
  font-size: 20px;
}

.portfollio__link:hover {
  color: red;
  transition: 0.3s;
}

.portfollio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.portfollio__img {
  width: 100%;
  height: 100%;
}

.portfollio__overlay {
  position: absolute;
  background: #2e93b4;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfollio__card {
  position: relative;
  margin: 20px 0;
}

.portfollio__description {
  color: #fff;
  font-size: 20px;
  margin-top: 30%;
}

.portfollio__card:hover .portfollio__overlay {
  display: block;
  animation: yourAnimation 0.3s forwards 0s ease-out;
}

.footer {
  margin-top: 100px;
  background-color: black;
  height: 30vh;
  color: white;
  position: relative;
}

.footer__title {
  margin-left: 25%;
  padding: 40px 0 20px;
}

.footer__span {
  margin-left: 25%;
  padding: 10px 0;
}

.footer__social {
  position: absolute;
  left: 62%;
  top: 20%;
}

.ficon {
  color: #5dc6e8;
}

.ficon2 {
  font-size: 30px;
  width: 30px;
  margin: 10px;
  padding: 20px;
  color: black;
  border-radius: 50%;
  background-color: #777;
  text-align: center;
}

.ficon2:hover {
  background-color: #5dc6e8;
  color: white;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .fixed {
    display: none;
  }
  #hide {
    display: none;
  }
  .intro {
    background-position: center;
  }
  .intro__info {
    display: none;
  }
  .nav__list {
    display: none;
  }
  .nav__logo {
    position: relative;
    display: block;
    padding: 10px;
  }
  .nav__wrapper {
    margin: 0;
  }
  .hamicon {
    display: block;
    font-size: 35px;
    margin-left: 80%;
    position: absolute;
    top: 20px;
  }
  .active {
    position: absolute;
    top: 8%;
    width: 100%;
    display: block;
    background-color: black;
    z-index: 1;
    animation: navbar 0.5s forwards 0s ease-out;
  }
  .slogan {
    margin: 0;
  }
  .slogan__title {
    padding-top: 50%;
  }
  .about {
    display: block;
  }
  .about__title {
    text-align: center;
    font-size: 25px;
  }
  .about__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .about__img {
    display: none;
  }
  .services__title {
    margin-bottom: 50px;
  }
  .services__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .services__content {
    margin: 0 auto;
    display: block;
  }
  .services__card {
    margin-bottom: 20px;
  }
  .services__img {
    display: none;
  }
  .team__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .team__wrapper {
    display: block;
  }
  .team__span {
    margin-bottom: 100px;
  }
  .team__img {
    margin: 0 auto;
    width: 60%;
  }
  .team__card:hover .team__overlay {
    display: none;
  }
  .portfollio__title {
    margin-top: 0;
  }
  .portfollio__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .portfollio__img {
    width: 100%;
    height: 100%;
  }
  .portfollio__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portfollio__card:hover .portfollio__overlay {
    display: none;
  }
  .footer {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
  }
  .footer__title {
    margin: 0;
  }
  .footer__span {
    margin: 0;
  }
  .footer__social {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .slogan {
    margin: 0;
  }
  .slogan__title {
    padding-top: 30%;
  }
  .team__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .team__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__card {
    text-align: center;
  }
  .team__span {
    margin-bottom: 100px;
  }
  .team__img {
    margin: 0 auto;
    width: 70%;
  }
  .team__overlay {
    margin: 0 auto;
    width: 70%;
  }
  .portfollio__title {
    margin-top: 0;
  }
  .portfollio__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .portfollio__list {
    margin: 0;
  }
  .portfollio__img {
    width: 100%;
    height: 100%;
  }
  .services__title {
    margin-bottom: 50px;
  }
  .services__title::after {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .services__card {
    margin-bottom: 60px;
  }
  .services__img {
    display: none;
  }
  .about {
    display: block;
  }
  .about__title {
    text-align: center;
    font-size: 25px;
  }
  .about__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .about__img {
    display: none;
  }
  .footer {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .footer__title {
    margin: 0;
  }
  .footer__span {
    margin: 0;
  }
  .footer__social {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
  .fixed {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */