* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.intro {
  background-image: url("../images/hero.png");
  height: 100vh;
}

.intro__info {
  color: #fff;
  border-bottom: solid 1px #888;
}

.intro__list {
  display: flex;
  margin-left: 15%;
  cursor: pointer;
}

.intro__item {
  padding: 20px;
}

.intro__social {
  margin-left: 35%;
  padding: 10px;
}

.fas {
  padding-right: 5px;
}

.fas:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.fab {
  padding: 10px;
  font-size: 20px;
}

.fab:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.nav {
  color: white;
}

.nav__list {
  display: flex;
  margin-top: 2%;
  margin-left: 64.4%;
}

.nav__item {
  padding: 15px 10px;
}

.nav__link:hover {
  color: #5dc6e8;
  transition: 0.3s;
}

.nav__logo {
  position: absolute;
  top: 10%;
  left: 15.5%;
}

.hamicon {
  display: none;
}

.slogan {
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 15%;
}

.slogan__title {
  font-size: 40px;
  opacity: 0.7;
}

.slogan__subtitle {
  font-size: 40px;
  opacity: 0.5;
  margin-bottom: 40px;
}

.slogan__link {
  padding: 10px 20px;
  border: 2px solid #2e93b4;
  background-color: #2e93b4;
}

.slogan__link:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.about {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 100px;
  margin: 100px;
}

.about__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}

.about__title::after {
  content: "";
  position: absolute;
  width: 80px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 45px;
}

.about__span {
  margin: 30px 0;
  color: #777;
}

.about__img {
  margin-top: 30px;
  height: 90%;
}

.skills {
  background-image: url("../images/skills.png");
  height: 672px;
  color: white;
}

.skills__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
  margin-left: 18.5%;
  padding-top: 5%;
}

.skills__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 105%;
}

.skills__span {
  margin-top: 5%;
  margin-left: 18.5%;
  color: #6D687E;
  font-size: 20px;
  max-width: 500px;
}

.services {
  margin-top: 75px;
  text-align: center;
}

.services__title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.services__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 48%;
  top: 50px;
}

.services__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin-left: 20%;
  grid-gap: 100px;
}

.services__card {
  margin: 0 auto;
  padding: 50px;
  background-color: #e6e6e6;
  width: 250px;
}

.services__subtitle {
  margin-bottom: 10px;
}

.services__span {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  color: #777;
}

.services__img {
  margin-top: 75px;
  width: 100%;
}

.icon {
  color: #5dc6e8;
  font-size: 30px;
  margin-bottom: 10px;
}

.portfollio {
  text-align: center;
}

.portfollio__title {
  margin-top: 100px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.portfollio__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 48%;
  top: 50px;
}

.portfollio__list {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.portfollio__item {
  padding: 10px;
}

.portfollio__link {
  font-size: 20px;
}

.portfollio__link:hover {
  color: red;
  transition: 0.3s;
}

.portfollio__gallery {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.portfollio__img {
  width: 300px;
  height: 300px;
  padding: 20px;
}

.footer {
  margin-top: 100px;
  background-color: black;
  height: 30vh;
  color: white;
  position: relative;
}

.footer__title {
  margin-left: 25%;
  padding: 40px 0 20px;
}

.footer__span {
  margin-left: 25%;
  padding: 10px 0;
}

.footer__social {
  position: absolute;
  left: 62%;
  top: 20%;
}

.ficon {
  color: #5dc6e8;
}

.ficon2 {
  font-size: 30px;
  width: 30px;
  margin: 10px;
  padding: 20px;
  color: black;
  border-radius: 50%;
  background-color: #777;
  text-align: center;
}

.ficon2:hover {
  background-color: #5dc6e8;
  color: white;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .intro {
    background-position: center;
  }
  .intro__info {
    display: none;
  }
  .nav__list {
    display: none;
    margin: 0;
  }
  .nav__logo {
    position: relative;
    padding: 10px;
    left: 0%;
    top: 0%;
  }
  .hamicon {
    display: block;
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 80%;
  }
  .active {
    display: block;
    background-color: black;
  }
  .slogan {
    margin: 0;
  }
  .slogan__title {
    padding-top: 40%;
  }
  .about {
    display: block;
  }
  .about__title {
    text-align: center;
    width: 100%;
  }
  .about__title::after {
    top: 80px;
    left: 35px;
  }
  .about__img {
    display: none;
  }
  .skills {
    background-image: url("../images/rwd__skills.png");
    width: 100%;
  }
  .skills__title {
    padding-top: 90px;
  }
  .skills__title::after {
    top: 140px;
    left: 80px;
  }
  .skills__span {
    display: none;
  }
  .services__title {
    margin-bottom: 50px;
  }
  .services__title::after {
    top: 45px;
    left: 140px;
  }
  .services__content {
    margin: 0 auto;
    display: block;
  }
  .services__card {
    margin-bottom: 20px;
  }
  .services__img {
    display: none;
  }
  .portfollio__gallery {
    display: block;
  }
  .footer {
    height: 40vh;
  }
  .footer__social {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .intro__list {
    margin: 0;
  }
  .intro__social {
    margin-left: 30px;
  }
  .nav__list {
    margin-top: 50px;
    margin-left: 50%;
  }
  .slogan {
    margin-top: 30%;
  }
  .about {
    display: block;
  }
  .about__title {
    text-align: center;
    width: 100%;
  }
  .about__title::after {
    top: 60px;
    left: 40%;
  }
  .about__img {
    display: none;
  }
  .skills {
    background-image: url("../images/rwd2_skills.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1050px;
  }
  .skills__title {
    text-align: center;
    margin: 0;
    padding: 200px 0 0 0;
  }
  .skills__title::after {
    top: 250px;
    left: 45%;
  }
  .skills__span {
    display: block;
    margin-top: 100px;
    text-align: center;
  }
  .services__content {
    margin: 100px auto;
    display: block;
  }
  .services__card {
    margin-bottom: 20px;
  }
  .services__title::after {
    top: 50px;
    left: 45%;
  }
  .services__img {
    width: 100%;
  }
  .portfollio__title::after {
    top: 50px;
    left: 44%;
  }
  .footer {
    text-align: center;
    width: 100%;
  }
  .footer__title {
    margin: 0;
  }
  .footer__span {
    margin: 0;
  }
  .footer__social {
    position: relative;
    left: 0;
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */