* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.container { 
	max-width: 2000px;
	margin: 0 auto;
}

.container__intro{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.intro {
    &__info { 
        
        background-color: #282828;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        border-bottom: solid 1px #888;
        
    }
    &__list {
        display: flex;
        justify-content: center;
        cursor: pointer;
        
       
    }
    &__item{
        padding: 7px 15px;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            top: 12px;
            left: 2px;
        }
        span{
            color: #babcbd;
            padding-left: 5px;
            font-weight: 400;
            font-size: 14px;
            &:hover{
                color: #5dc6e8;
                 transition: 0.3s;
            }
        }
    }
    &__social {
        color: #babcbd;
        z-index: 2;
    }
}


.ico {
    font-size: 12px;
    color: #babcbd;
}

.introicon {
    padding: 10px;
    font-size: 15px;
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;
    }
}

.container__nav{
    max-width: 1500px;
    margin: 0 auto;
}

.nav {
    color: white;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    &__wrapper {
        padding: 17px;     
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: black;     
    }
    &__item {
        padding: 15px 10px;
    }
    &__link { 
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;     
        }
    }
    &__submenu{
        display: block;
        padding: 17px;
        background-color:#252525 ;
        animation: show 0.2s forwards 0s ease-out;
        transition-delay: 2s;
    }
    &__submenu-item{
        padding: 10px 35px;
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 400;
        a{
            padding: 15px;
            &:hover {
                color: #5dc6e8;
                transition: 0.3s;    
            }
        }
    }
}

.submenu-bg{
    display: none;
    z-index: 2;
    margin-top: 10px;
    margin-left: -120px;
    padding: 25px;
    position: absolute;
    background-color: transparent;
}

@keyframes show{
    0%{
        transform:  scale(0) ;
        }
    100%{
        transform:  scale(1) ;
        }
}


.fa-chevron-down {
    position: absolute;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 17px;
    
}


.nav__item:hover .submenu-bg{
    display: block;  
}

.fixed{
    position: fixed;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    width: calc(100% - 5px);
    top:0;
    color: black;
    z-index: 3;
    animation: navbar 0.3s forwards 0s ease-out;
}

@keyframes navbar{
    0%{
        transform: rotate(0) scale(0) translateY(-600px);
        }
    100%{
        transform: rotate(0) scale(1) translateY(0);
        }
}



.container__form{
    margin: 0 auto;
    max-width: 1500px;
}


.form{
    margin-bottom: 100px;
    box-sizing: border-box;
    &__title{
        padding-top: 80px;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 400;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            left:0;
            border-bottom: solid 3px #5dc6e8;
            top: 120px;    
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    
   
}
.right{
    display: block;

    &__card1{
        position: relative;
        margin-bottom: 50px;
    }
    img{
        
        position: relative;
    }
   span{
       position: absolute;
       top: 5%;
       margin-left: 13px;
       text-transform: uppercase;
       font-size: 18px;
       
   }
   &__card1-info{
       margin-top: 45px;
       position: relative;
       font-size: 14px;
       p{
         position: absolute;
         top: 0;
         margin-left: 25px;
       }
       span{
           border: 1px solid #888;
           width: 160px;
           position: absolute;
           top: -20px;
       }
   }

   &__card1-info2{
    margin-top: 10px;
    position: relative;
    font-size: 14px;
    p{
      position: absolute;
      top: -6%;
      margin-left: 25px;
    }
}
&__card1-info3{
    position: relative;
    font-size: 14px;
    p{
      position: absolute;
      top: -6%;
      margin-left: 25px;
    }
}  
}


.left form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.left form p{
    padding-bottom: 25px;
}

.left form input {
    width: 250px;
    height: 38px;
    background: rgb(239, 239, 239);
    padding-left: 5px;
    border: 1px solid #999;
    
}
.left form select{
    width: 257px;
    height: 41px;
    background: rgb(239, 239, 239);
    border: 1px solid #999;
    
}

.left form textarea{
    width: 540px;
    background: rgb(239, 239, 239);
    border: 1px solid #999; 
}

.left form .full{  
    grid-column: 1/3;  
}

.left a{
    border: 1px solid #5dc6e8;
    background-color: #5dc6e8;
    padding: 10px 30px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    &:hover{
        opacity: 0.9;
    }
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

.clauz{
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.6;
    max-width: 550px;
}


.footer{
    
    background-color: #282828;
    height: 100%;
    color: #c9cacb;
    position: relative;
    overflow: hidden;
    &__logo{
        margin-left: 10%;
        
    }
    
    &__info {
        margin-left: 10%;
        width: 100%;
        padding: 3px 0;
        display: flex;
    }
    &__content{
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        margin: 0 auto;
        padding: 30px 0;
    }
    &__title--1{
        text-transform: uppercase;
        margin-left: 10%;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 10%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    &__title--2{
        text-transform: uppercase;
        margin-left: 10%;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 22%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    
    &__span{
        margin-top: 8px;
        &:hover{
            color: #5dc6e8;
            transition: 0.3s;
        }
    }
    &__center__column{
        display: flex;
        
    }
    &__center__card {
        width: 100%;
        margin-left: 20px;
    }
    
    
    
    &__social{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__copyrights{
        font-size: 12px;
        color: #999c9f;
        padding-top: 8px;
        
        
    }
    &__border{
        border-top: solid 1px #888;
    }
    &__icons{
        padding-left: 70px;
        padding-top: 0;
        font-size: 15px;
        color: #999c9f;
    }
}

.container__footer__down{
    margin:0 auto;
    max-width: 1500px;
}

.footericon {
   
    padding: 8px 10px;

}

.ficon{
    color: #5dc6e8;
    margin-top: 13px;
    font-size:  10px;
    padding-right: 15px;
}




