* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.container__intro {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal {
  -webkit-animation: moda__anim .3s forwards 0s ease-out;
          animation: moda__anim .3s forwards 0s ease-out;
  max-width: 1200px;
}

.modal__img {
  width: 100%;
  height: auto;
  margin-left: 60px;
  margin: 0;
  padding: 0;
}

.modal__size {
  max-width: 1000px;
  padding: 0;
}

@-webkit-keyframes moda__anim {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

@keyframes moda__anim {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

.blocker {
  z-index: 4;
}

.intro__info {
  background-color: #282828;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #fff;
  border-bottom: solid 1px #888;
}

.intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.intro__item {
  padding: 7px 15px;
  position: relative;
  z-index: 2;
}

.intro__item img {
  position: absolute;
  top: 12px;
  left: 2px;
}

.intro__item span {
  color: #babcbd;
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
}

.intro__item span:hover {
  color: #5dc6e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro__social {
  color: #babcbd;
  z-index: 2;
}

.ico {
  font-size: 12px;
  color: #babcbd;
}

.introicon {
  padding: 10px;
  font-size: 15px;
}

.introicon:hover {
  color: #5dc6e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container__nav {
  max-width: 1500px;
  margin: 0 auto;
}

.nav {
  color: white;
  width: 100%;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}

.nav__wrapper {
  padding: 17px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.nav__item {
  padding: 15px 10px;
}

.nav__link:hover {
  color: #5dc6e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__submenu {
  display: block;
  padding: 17px;
  background-color: #252525;
  -webkit-animation: show 0.2s forwards 0s ease-out;
          animation: show 0.2s forwards 0s ease-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.nav__submenu-item {
  padding: 10px 35px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 400;
}

.nav__submenu-item a {
  padding: 15px;
}

.nav__submenu-item a:hover {
  color: #5dc6e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submenu-bg {
  display: none;
  z-index: 2;
  margin-top: 10px;
  margin-left: -120px;
  padding: 25px;
  position: absolute;
  background-color: transparent;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fa-chevron-down {
  position: absolute;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 17px;
}

.nav__item:hover .submenu-bg {
  display: block;
}

.fixed {
  position: fixed;
  padding: 17px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  width: calc(100% - 5px);
  top: 0;
  color: black;
  z-index: 3;
  -webkit-animation: navbar 0.3s forwards 0s ease-out;
          animation: navbar 0.3s forwards 0s ease-out;
}

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: rotate(0) scale(0) translateY(-600px);
            transform: rotate(0) scale(0) translateY(-600px);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) translateY(0);
            transform: rotate(0) scale(1) translateY(0);
  }
}

@keyframes navbar {
  0% {
    -webkit-transform: rotate(0) scale(0) translateY(-600px);
            transform: rotate(0) scale(0) translateY(-600px);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) translateY(0);
            transform: rotate(0) scale(1) translateY(0);
  }
}

.main {
  margin-bottom: 100px;
}

.main__title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  position: relative;
}

.main__title::after {
  content: "";
  position: absolute;
  width: 80px;
  border-bottom: solid 3px #5dc6e8;
  left: 0;
  top: 50px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__card img {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

.main__span {
  max-width: 600px;
  padding-top: 35px;
  margin-left: 30px;
  line-height: 1.5;
  text-align: justify;
  color: #777;
}

.main__span2 {
  max-width: 600px;
  padding-top: 20px;
  margin-left: 120px;
  text-align: justify;
  color: #777;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.about__test1 {
  height: 60px;
  width: 91px;
  margin-top: 30px;
}

.skill {
  background: url(../images/projekty__graficzne_background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 200px #000000;
          box-shadow: inset 0 0 200px #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skill__wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
}

.skill__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.skill__card {
  position: relative;
  padding: 25px;
}

.skill i {
  position: absolute;
  top: 83%;
  left: 47.5%;
  color: #42d0ff;
  position: absolute;
  font-size: 25px;
  border-radius: 50%;
  -webkit-animation: glowing 2500ms infinite;
          animation: glowing 2500ms infinite;
  cursor: pointer;
}

.skill i:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skill__note1 {
  width: 250px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  left: 10.5%;
  -webkit-box-shadow: 0 0 50px #000000;
          box-shadow: 0 0 50px #000000;
  top: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skill__note1 h3 {
  color: #5DC6E8;
  padding: 10px;
}

.skill__note1 p {
  color: #777;
  padding: 10px;
}

.skill__note2 {
  width: 250px;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  left: 11.5%;
  top: -75%;
  -webkit-box-shadow: 0 0 50px #000000;
          box-shadow: 0 0 50px #000000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skill__note2 h3 {
  color: #5DC6E8;
  padding: 10px;
}

.skill__note2 p {
  color: #777;
  padding: 10px;
}

.skill__note3 {
  width: 250px;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  left: 11.5%;
  -webkit-box-shadow: 0 0 50px #000000;
          box-shadow: 0 0 50px #000000;
  top: -98%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.skill__note3 h3 {
  color: #5DC6E8;
  padding: 10px;
}

.skill__note3 p {
  color: #777;
  padding: 10px;
}

i:hover ~ .skill__note1 {
  -webkit-animation: note .3s forwards 0s ease-out;
          animation: note .3s forwards 0s ease-out;
}

i:hover ~ .skill__note2 {
  -webkit-animation: note .3s forwards 0s ease-out;
          animation: note .3s forwards 0s ease-out;
}

i:hover ~ .skill__note3 {
  -webkit-animation: note .3s forwards 0s ease-out;
          animation: note .3s forwards 0s ease-out;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes note {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

@keyframes note {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

.gallery {
  text-align: center;
  background-color: #f3f3f3;
}

.gallery li {
  -webkit-perspective: 400px;
          perspective: 400px;
  list-style-type: none;
}

.gallery__title {
  padding-top: 80px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.gallery__title::after {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: solid 3px #5dc6e8;
  left: 50%;
  top: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__wrapper {
  max-width: 1600px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__overlay {
  position: absolute;
  background: #2e93b4;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery__card {
  position: relative;
  margin: 10px;
}

.gallery__card img {
  max-width: 100%;
}

.info {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #2e93b4;
  opacity: 0.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.in-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
          animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .info {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
          animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
          animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
          animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
          animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .info {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
          animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
          animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
          animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 110.7deg);
            transform: rotate3d(-1, 0, 0, 110.7deg);
  }
}

@keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 110.7deg);
            transform: rotate3d(-1, 0, 0, 110.7deg);
  }
}

@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 119.4deg);
            transform: rotate3d(0, -1, 0, 119.4deg);
  }
}

@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 119.4deg);
            transform: rotate3d(0, -1, 0, 119.4deg);
  }
}

@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 110.7deg);
            transform: rotate3d(1, 0, 0, 110.7deg);
  }
}

@keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 110.7deg);
            transform: rotate3d(1, 0, 0, 110.7deg);
  }
}

@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 119.4deg);
            transform: rotate3d(0, 1, 0, 119.4deg);
  }
}

@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 119.4deg);
            transform: rotate3d(0, 1, 0, 119.4deg);
  }
}

.fa-search-plus {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.gallery__card:hover .fa-search-plus {
  display: block;
  -webkit-animation: yourAnimation 0.3s forwards 0s ease-out;
          animation: yourAnimation 0.3s forwards 0s ease-out;
}

.footer {
  background-color: #282828;
  height: 100%;
  color: #c9cacb;
  position: relative;
  overflow: hidden;
}

.footer__logo {
  margin-left: 10%;
}

.footer__info {
  margin-left: 10%;
  width: 100%;
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__card {
  margin: 0 auto;
  padding: 30px 0;
}

.footer__title--1 {
  text-transform: uppercase;
  margin-left: 10%;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
}

.footer__title--1::after {
  content: "";
  position: absolute;
  width: 70px;
  border-bottom: solid 3px #5dc6e8;
  left: 10%;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__title--2 {
  text-transform: uppercase;
  margin-left: 10%;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.footer__title--2::after {
  content: "";
  position: absolute;
  width: 70px;
  border-bottom: solid 3px #5dc6e8;
  left: 22%;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__span {
  margin-top: 8px;
}

.footer__span:hover {
  color: #5dc6e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__center__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__center__card {
  width: 100%;
  margin-left: 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyrights {
  font-size: 12px;
  color: #999c9f;
  padding-top: 8px;
}

.footer__border {
  border-top: solid 1px #888;
}

.footer__icons {
  padding-left: 70px;
  padding-top: 0;
  font-size: 15px;
  color: #999c9f;
}

.container__footer__down {
  margin: 0 auto;
  max-width: 1620px;
}

.footericon {
  padding: 8px 10px;
}

.ficon {
  color: #5dc6e8;
  margin-top: 13px;
  font-size: 10px;
  padding-right: 15px;
}

@media only screen and (max-width: 1400px) {
  .skill__note1 {
    top: 30%;
    left: 11%;
  }
  .skill__note2 {
    top: 30%;
    left: 11%;
  }
  #responsive {
    display: none;
  }
}
/*# sourceMappingURL=projekty__graficzne.css.map */