* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.container { 
	max-width: 2000px;
	margin: 0 auto;
}

.container__intro{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.modal {
    animation: moda__anim .3s forwards 0s ease-out;
    max-width: 1200px;
    &__img{
        width: 100%;
        height: auto;
        margin-left: 60px;
        margin: 0;
        padding: 0;
    }  
    &__size{
        max-width: 1000px;
        padding: 0;
        
    }

}

@keyframes moda__anim{
    0%{
        transform: rotate(0) scale(0) ;
        }
    100%{
        transform: rotate(0) scale(1) ;
        }
}

.blocker{
    z-index: 4;
}


.intro {
    &__info { 
        
        background-color: #282828;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        border-bottom: solid 1px #888;
        
    }
    &__list {
        display: flex;
        justify-content: center;
        cursor: pointer;
        
       
    }
    &__item{
        padding: 7px 15px;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            top: 12px;
            left: 2px;
        }
        span{
            color: #babcbd;
            padding-left: 5px;
            font-weight: 400;
            font-size: 14px;
            &:hover{
                color: #5dc6e8;
                 transition: 0.3s;
            }
        }
    }
    &__social {
        color: #babcbd;
        z-index: 2;
    }
}


.ico {
    font-size: 12px;
    color: #babcbd;
}

.introicon {
    padding: 10px;
    font-size: 15px;
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;
    }
}

.container__nav{
    max-width: 1500px;
    margin: 0 auto;
}

.nav {
    color: white;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    &__wrapper {
        padding: 17px;     
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: black;     
    }
    &__item {
        padding: 15px 10px;
    }
    &__link { 
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;     
        }
    }
    &__submenu{
        display: block;
        padding: 17px;
        background-color:#252525 ;
        animation: show 0.2s forwards 0s ease-out;
        transition-delay: 2s;
    }
    &__submenu-item{
        padding: 10px 35px;
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 400;
        a{
            padding: 15px;
            &:hover {
                color: #5dc6e8;
                transition: 0.3s;    
            }
        }
    }
}

.submenu-bg{
    display: none;
    z-index: 2;
    margin-top: 10px;
    margin-left: -120px;
    padding: 25px;
    position: absolute;
    background-color: transparent;
}

@keyframes show{
    0%{
        transform:  scale(0) ;
        }
    100%{
        transform:  scale(1) ;
        }
}


.fa-chevron-down {
    position: absolute;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 17px;
    
}


.nav__item:hover .submenu-bg{
    display: block;  
}

.fixed{
    position: fixed;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    width: calc(100% - 5px);
    top:0;
    color: black;
    z-index: 3;
    animation: navbar 0.3s forwards 0s ease-out;
}

@keyframes navbar{
    0%{
        transform: rotate(0) scale(0) translateY(-600px);
        }
    100%{
        transform: rotate(0) scale(1) translateY(0);
        }
}

.main{
    margin-top: 60px;
    &__title{
        margin-left: 130px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            border-bottom: solid 3px #5dc6e8;
            left: 0;
            top: 50px;
        }
    }
    &__content{
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__span__wrapper{
        margin-top: 150px;
    }
    &__span{
        max-width: 600px;
    }  
}



.skill {
    background: url(../images/projekty__graficzne_background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 200px #000000;
    box-sizing: border-box;
    &__wrapper1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 100px;
    }

     &__wrapper2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
     }

    

    &__card{
        position: relative;
        padding: 25px;
        
        
    }

    i{
        position: absolute;
        top: 83%;
        left: 47.5%;
        color: #42d0ff;
        position: absolute;
        font-size: 25px;
        border-radius: 50%;
        animation: glowing 5000ms infinite;
        cursor: pointer;
        &:hover{
            transform: rotate(180deg);
            transition: 0.3s;  
        }
    }
    &__note1{
        width: 250px;
        position: absolute;
        background-color: white;
        padding: 10px;
        left:12%;
        top: 100%; 
        transform:  scale(0);
        
        
    }
    &__note2{
        width: 250px;
        position: absolute;
        background-color: white;
        padding: 10px;
        left:11.5%;
        top: -35%; 
        transform:  scale(0);
        
       
    }
}

i:hover ~ .skill__note1{
    animation: note .3s forwards 0s ease-out;
}

i:hover ~ .skill__note2{
    animation: note .3s forwards 0s ease-out;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.2);
      }
      70% { 
          box-shadow: 0 0 0 10px rgba(0,0,0, 0.2);
      }
      100% {
          box-shadow: 0 0 0 0 rgba(0,0,0, 0.2);
      }
  }


@keyframes note{
    0%{
        transform: rotate(0) scale(0) ;
        }
    100%{
        transform: rotate(0) scale(1) ;
        }
}














.gallery{
    text-align: center;
    background-color: #f3f3f3;
   
    
    &__title{
        padding-top: 80px;
        
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 400;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 50%;
            top: 120px; 
            transform: translateX(-50%);     
        }
    }
    &__wrapper{
        max-width: 1600px;
        padding-bottom: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    &__overlay{
        position: absolute;
        background: #2e93b4;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        bottom: 0;
        left: 0;
        right: 0; 
    }
    &__card{
        position: relative;
        margin: 10px;
        img{
            max-width: 100%;
        }
    }
}

.gallery__card:hover .gallery__overlay{
    display: block;
    animation: yourAnimation 0.3s forwards 0s ease-out;
}

.fa-search-plus {
    color: white;
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

  }

  .gallery__card:hover .fa-search-plus{
    display: block;
    animation: yourAnimation 0.3s forwards 0s ease-out;
}












.footer{
    
    background-color: #282828;
    height: 100%;
    color: #c9cacb;
    position: relative;
    overflow: hidden;
    &__logo{
        margin-left: 10%;
        
    }
    
    &__info {
        margin-left: 10%;
        width: 100%;
        padding: 3px 0;
        display: flex;
    }
    &__content{
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        margin: 0 auto;
        padding: 30px 0;
    }
    &__title--1{
        text-transform: uppercase;
        margin-left: 10%;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 10%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    &__title--2{
        text-transform: uppercase;
        margin-left: 10%;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 22%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    
    &__span{
        margin-top: 8px;
        &:hover{
            color: #5dc6e8;
            transition: 0.3s;
        }
    }
    &__center__column{
        display: flex;
        
    }
    &__center__card {
        width: 100%;
        margin-left: 20px;
    }
    
    
    
    &__social{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__copyrights{
        font-size: 12px;
        color: #999c9f;
        padding-top: 8px;
        
        
    }
    &__border{
        border-top: solid 1px #888;
    }
    &__icons{
        padding-left: 70px;
        padding-top: 0;
        font-size: 15px;
        color: #999c9f;
    }
}

.container__footer__down{
    margin:0 auto;
    max-width: 1500px;
}

.footericon {
   
    padding: 8px 10px;

}

.ficon{
    color: #5dc6e8;
    margin-top: 13px;
    font-size:  10px;
    padding-right: 15px;
}


@media only screen and (max-width: 1400px) {
   
    .skill {
        &__note1{
            top: 30%;
            left: 11%;
        }
        &__note2{
            top: 30%;
            left: 11%;
        }
    }

    #responsive{
        display: none;
    }

}