* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

$duration: 300ms;
$timing-fn: ease;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$clouds: #ECF0F1;


a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.container { 
	max-width: 2000px;
	margin: 0 auto;
}

.container__intro{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.modal {
    animation: moda__anim .3s forwards 0s ease-out;
    max-width: 1200px;
    &__img{
        width: 100%;
        height: auto;
        margin-left: 60px;
        margin: 0;
        padding: 0;
    }  
    &__size{
        max-width: 1000px;
        padding: 0;
        
    }

}

@keyframes moda__anim{
    0%{
        transform: rotate(0) scale(0) ;
        }
    100%{
        transform: rotate(0) scale(1) ;
        }
}

.blocker{
    z-index: 4;
}


.intro {
    &__info { 
        
        background-color: #282828;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        border-bottom: solid 1px #888;
        
    }
    &__list {
        display: flex;
        justify-content: center;
        cursor: pointer;
        
       
    }
    &__item{
        padding: 7px 15px;
        position: relative;
        z-index: 2;
        img{
            position: absolute;
            top: 12px;
            left: 2px;
        }
        span{
            color: #babcbd;
            padding-left: 5px;
            font-weight: 400;
            font-size: 14px;
            &:hover{
                color: #5dc6e8;
                 transition: 0.3s;
            }
        }
    }
    &__social {
        color: #babcbd;
        z-index: 2;
    }
}


.ico {
    font-size: 12px;
    color: #babcbd;
}

.introicon {
    padding: 10px;
    font-size: 15px;
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;
    }
}


.container__nav{
    max-width: 1500px;
    margin: 0 auto;
}

.nav {
    color: white;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    &__wrapper {
        padding: 17px;      
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: black;     
    }
    &__item {
        padding: 15px 10px;
    }
    &__link { 
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;     
        }
    }
    &__submenu{
        display: block;
        padding: 17px;
        background-color:#252525 ;
        animation: show 0.2s forwards 0s ease-out;
    }
    &__submenu-item{
        padding: 10px 35px;
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 400;
        a{
            padding: 15px;
            &:hover {
                color: #5dc6e8;
                transition: 0.3s;    
            }
        }
    }
}

.submenu-bg{
    display: none;
    z-index: 2;
    margin-top: 10px;
    margin-left: -120px;
    padding: 25px;
    position: absolute;
    background-color: transparent;
}

@keyframes show{
    0%{
        transform:  scale(0) ;
        }
    100%{
        transform:  scale(1) ;
        }
}

.fa-chevron-down {
    position: absolute;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 17px; 
}

.nav__item:hover .submenu-bg{
    display: block;  
}

.fixed{
    position: fixed;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    width: calc(100% - 5px);
    top:0;
    color: black;
    z-index: 3;
    animation: navbar 0.3s forwards 0s ease-out;
}

@keyframes navbar{
    0%{
        transform: rotate(0) scale(0) translateY(-600px);
        }
    100%{
        transform: rotate(0) scale(1) translateY(0);
        }
}

.main{
    img{
        max-width: 100%;
            height: auto;

    }
    &__title{
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            border-bottom: solid 3px #5dc6e8;
            left: 0;
            top: 50px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
   
    &__img{
            margin-top: 100px; 
        }
    
    &__span__wrapper{
        margin-top: 50px;
        margin-left: 20px;
        position: relative;
    }
    &__span{
        padding-top: 20px;
        margin-left: 30px;
        max-width: 700px;
        color: #777;
        text-align: justify;
        line-height: 1.5;
    }  
}

.card{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.about__test1{
    height: 60px;
    width: 100px;
    margin-top: 20px;
}

.main__span1{
    position: absolute;
    top: 95%;
    left: 130px;
    color: #777;

}



.box-1 {
    background-image: url("../images/services__box1.png");
    min-width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 25%;
   
    
}
.box-2{
    background-image: url("../images/services__box2.png");
    background-repeat: no-repeat;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    flex-basis: 25%;
    
}
.box-3{
    background-image: url("../images/services__box3.png");
    background-repeat: no-repeat;
    min-width: 400px;

    background-size: cover;
    background-position: center;
    flex-basis: 25%;
    
}
.box-4{
    background-image: url("../images/services__box4.png");
    background-repeat: no-repeat;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    flex-basis: 25%;
    
}



.services{

    li{
        perspective: 400px;
        list-style-type: none;
    }
        margin-top: 100px;
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    &__card{
        margin-bottom: 10px;
        position: relative;
        
    }
    &__title{
        text-transform: uppercase;
        font-weight: 400;
        max-width: 200px;
        color:white;
        padding-bottom: 100px;
        margin-left: 32%;
        text-align: center
    }
    &__overlay {
        transform: rotate3d(1,0,0, 90deg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        background: #2e93b4;
        box-sizing: border-box;
        display: block;
        img{
            display: block;
            margin: 70px auto 30px;
            height: 20%;
        }
      
    }
    &__description {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        padding: 0 50px;
        font-size: 16px;
       
    }
}

.in-top .services__overlay {
    transform-origin: 50% 0%;
    animation: in-top $duration $timing-fn 0ms 1 forwards;
 }
 .in-right .services__overlay {
   transform-origin: 100% 0%;
   
   animation: in-right $duration $timing-fn 0ms 1 forwards;
 }
 .in-bottom .services__overlay {
   transform-origin: 50% 100%;
   animation: in-bottom $duration $timing-fn 0ms 1 forwards;
 }
 .in-left .services__overlay {
   transform-origin: 0% 0%;
   animation: in-left $duration $timing-fn 0ms 1 forwards;
 }
 
 .out-top .services__overlay {
   transform-origin: 50% 0%;
   animation: out-top-s $duration $timing-fn 0ms 1 forwards;
 }
 .out-right .services__overlay {
   transform-origin: 100% 50%;
   animation: out-right-s $duration $timing-fn 0ms 1 forwards;
 }
 .out-bottom .services__overlay {
   transform-origin: 50% 100%;
   animation: out-bottom-s $duration $timing-fn 0ms 1 forwards;
 }
 .out-left .services__overlay {
   transform-origin: 0% 0%;
   animation: out-left-s $duration $timing-fn 0ms 1 forwards;
 }
 





 @keyframes in-top {
    from {transform: rotate3d(-1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-right {
    from {transform: rotate3d(0,-1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-bottom {
    from {transform: rotate3d(1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-left {
    from {transform: rotate3d(0,1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  
  @keyframes out-top-s {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(-1,0,0, 113.7deg)}}
  @keyframes out-right-s {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,-1,0, 125.8deg)}}
  @keyframes out-bottom-s {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(1,0,0, 113.7deg)}}
  @keyframes out-left-s {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,1,0, 123.5deg)}}



.gallery{
    text-align: center;
    background-color: #f3f3f3;
    li{
        perspective: 400px;
        list-style-type: none;
    }
    &__title{
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 600;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 50%;
            top: 90px; 
            transform: translateX(-50%);     
        }
    }
    &__wrapper{
        max-width: 1600px;
        padding-bottom: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__overlay{
        position: absolute;
        background: #2e93b4;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        bottom: 0;
        left: 0;
        right: 0; 
    }
    &__card{
        position: relative;
        margin: 10px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}





.info {
    // hide-initial-state
    transform: rotate3d(1,0,0, 90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #2e93b4;
    opacity: 0.6;
    box-sizing: border-box;
  }
  
  
  .in-top .info {
     transform-origin: 50% 0%;
     animation: in-top $duration $timing-fn 0ms 1 forwards;
  }
  .in-right .info {
    transform-origin: 100% 0%;
    
    animation: in-right $duration $timing-fn 0ms 1 forwards;
  }
  .in-bottom .info {
    transform-origin: 50% 100%;
    animation: in-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .in-left .info {
    transform-origin: 0% 0%;
    animation: in-left $duration $timing-fn 0ms 1 forwards;
  }
  
  .out-top .info {
    transform-origin: 50% 0%;
    animation: out-top $duration $timing-fn 0ms 1 forwards;
  }
  .out-right .info {
    transform-origin: 100% 50%;
    animation: out-right $duration $timing-fn 0ms 1 forwards;
  }
  .out-bottom .info {
    transform-origin: 50% 100%;
    animation: out-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .out-left .info {
    transform-origin: 0% 0%;
    animation: out-left $duration $timing-fn 0ms 1 forwards;
  }
  
  @keyframes in-top {
    from {transform: rotate3d(-1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-right {
    from {transform: rotate3d(0,-1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-bottom {
    from {transform: rotate3d(1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-left {
    from {transform: rotate3d(0,1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  
  @keyframes out-top {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(-1,0,0, 110.7deg)}}
  @keyframes out-right {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,-1,0, 119.4deg)}}
  @keyframes out-bottom {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(1,0,0, 110.7deg)}}
  @keyframes out-left {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,1,0, 119.4deg)}}
  











.fa-search-plus {
    color: white;
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

  }

  .gallery__card:hover .fa-search-plus{
    display: block;
    animation: yourAnimation 0.3s forwards 0s ease-out;
}












.footer{
    
    background-color: #282828;
    height: 100%;
    color: #c9cacb;
    position: relative;
    overflow: hidden;
    &__logo{
        margin-left: 10%;
        
    }
    
    &__info {
        margin-left: 10%;
        width: 100%;
        padding: 3px 0;
        display: flex;
    }
    &__content{
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        margin: 0 auto;
        padding: 30px 0;
    }
    &__title--1{
        text-transform: uppercase;
        margin-left: 10%;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 10%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    &__title--2{
        text-transform: uppercase;
        margin-left: 10%;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 22%;
            top: 40px; 
            transform: translateX(-50%);  
             
        }
        
    }
    
    &__span{
        margin-top: 8px;
        &:hover{
            color: #5dc6e8;
            transition: 0.3s;
        }
    }
    &__center__column{
        display: flex;
        
    }
    &__center__card {
        width: 100%;
        margin-left: 20px;
    }
    
    
    
    &__social{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__copyrights{
        font-size: 12px;
        color: #999c9f;
        padding-top: 8px;
        
        
    }
    &__border{
        border-top: solid 1px #888;
    }
    &__icons{
        padding-left: 70px;
        padding-top: 0;
        font-size: 15px;
        color: #999c9f;
    }
}

.container__footer__down {
    margin: 0 auto;
    max-width: 1620px;
  }

.footericon {
   
    padding: 8px 10px;

}

.ficon{
    color: #5dc6e8;
    margin-top: 13px;
    font-size:  10px;
    padding-right: 15px;
}
