* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container { 
	max-width: 1500px;
	margin: 0 auto;
}

.container__banner { 
	max-width: 1900px;
	margin: 0 auto;
}

.container__team { 
	max-width: 1500px;
	margin: 0 auto;
}

.container__footer{ 
	max-width: 1500px;
	margin: 0 auto;
}





a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;;
}




.modal {
    animation: moda__anim .3s forwards 0s ease-out;
}

@keyframes moda__anim{
    0%{
        transform: rotate(0) scale(0) ;
        }
    100%{
        transform: rotate(0) scale(1) ;
        }
}

.arrow { 
    &__icon{   
        padding: 20px;
        position: fixed;
        top: 90%;
        left: 100%;
        transform: translateX(-100%);
        display: none;
        z-index: 1;
        opacity: 0.5;
        animation: arrow__anim .4s forwards 0s ease-out;
        &:hover{ 
            opacity: 1;
        }
    }
   
}

@keyframes arrow__anim{
    0%{
        transform: rotate(0) translateX(150px);
        }
    100%{
        transform: rotate(0) translateX(-100px);
        }
}


.arrow__active{
    display: block;
    
}


.intro {
    background-image: url("../images/hero.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    &__info { 
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        border-bottom: solid 1px #888;
    }
    &__list {
        display: flex;
        cursor: pointer;
        
    }
    &__item{
        padding: 20px;
    }
    &__social {
       padding: 10px;
    }
}
.fas {
    padding-right: 5px;
    &:hover {
        color: #5dc6e8;
        transition: 0.3s;
    }
}

.fab {
    padding: 10px;
    font-size: 20px;
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;
    }
}

.nav {
    color: white;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__list{
        display: flex;
    }
    &__item {
        padding: 15px 10px;
    }
    &__link { 
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;     
        }
    }
}
.fixed___flex{
    display: flex;
    justify-content: space-around;  
}

.fixed{
    position: fixed;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
    
    /*left: 50%;
    
    transform: translate(-50%) !important;*/
    width: calc(100% - 30px);
    
    top:0;
    color: black;
    z-index: 3;
    animation: navbar 0.3s forwards 0s ease-out;
}

@keyframes navbar{
    0%{
        transform: rotate(0) scale(0) translateY(-600px);
        }
    100%{
        transform: rotate(0) scale(1) translateY(0);
        }
}
.hamicon{
    display: none;
}



.show {
    display: block;
}

.hide {
    display: none;
}

.slogan{
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 15%;
    &__title {
        font-size: 40px;
        opacity: 0.7;
    }
    &__subtitle {
        font-size: 40px;
        opacity: 0.5;
        margin-bottom: 40px;
    }
    &__link {
        padding: 10px 20px;
        border: 2px solid #2e93b4;
        background-color: #2e93b4;
        &:hover {
            background-color: rgba(255,255,255,0);
            transition: 0.3s;
        }
    }
}

.about{
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 100px;
    margin: 100px;
    &__title{
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        color: #222222;
        margin-bottom: 50px;
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            border-bottom: solid 3px #5dc6e8;
            left: 0;
            top: 120%;
        }
    }
    &__span{
        margin: 30px 0;
        color: #777;
    }
    &__img{
        margin-top: 30px;
        height: 80%;
        width: 80%;
    }
}

.skill {
    background-image: url("../images/services.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    &__title {
        padding-top: 50px;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 50%;
            top: 95px;
            transform: translateX(-50%);      
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px;
        
        
        
    }
    &__card{
        margin: 30px 50px 100px;
        background: rgba(0,0,0,0.1);
        padding: 50px;
        position: relative;
        
    }
    &__subtitle{
        margin-top: 20px;
        color: #fff;
        font-size: 24px; 
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 4px #2e93b4;
            left: 21%;
            top: -200%;
            transform: translateX(-50%);      
        }
        &::before{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 4px #2e93b4;
            left: 80%;
            top: -200%;
            transform: translateX(-50%);      
        }
    }
    &__subtitle2{
        font-weight: 400;
    }
    &__img{
        margin-bottom: 20px; 
    }

    &__description{
        color: #b0ddff;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 400px;
    }

    &__link {
        position: absolute;
        text-transform: uppercase;
        font-weight: light; 
        font-size: 14px;
        top: 93%;
        left: 50%;
        color: white;
        transform: translateX(-50%); 
        border: solid 4px #00adee;
        background-color: #00adee;
        padding: 10px 30px;
        &:hover{
            transition: 0.3s;
            color: #00adee;
            background-color: #fff;
            border: solid 4px #fff;
        }
    }
    
}

.design {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    &__span{
        color: red; 
        font-size: 60px; 
    }
    
    
}



.icon {
    color: #5dc6e8;
    font-size: 30px;
    margin-bottom: 10px;
}



.team {
    &__title {
        margin: 100px;
        text-align: center;
        font-size: 30px;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 85px;
            border-bottom: solid 3px #5dc6e8;
            left:50%;
            transform: translateX(-50%);
            top: 50px;      
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      
    }
    &__description {
        padding-top: 20px;
        text-align: center;
        font-size: 24px;
    }
    &__span{
        font-size: 18px;
        padding: 5px;
        text-align: center;
        color: #5dc6e8;
    }
    &__card {
        width: 100%;
        position: relative;
    }
    &__overlay {
        position: absolute;
        background: #2e93b4;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__img{
        display: block;
        width: 100%;
        height: auto;
    }
    &__background{
        background-color: #f3f3f3;
        width: 100%;
    }
}


.team__card:hover .team__overlay{
    display: block;
    animation: yourAnimation 0.3s forwards 0s ease-out;
    
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) scale(0);
        }
    100%{
        transform: rotate(0) scale(1);
        }
}

.portfollio {
    text-align: center;
    
    &__title{
        margin-top: 150px;
        margin-bottom: 100px;
        font-size: 30px;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 50%;
            top: 50px; 
            transform: translateX(-50%);     
        }
        
    }
    &__link{
        padding: 0 10px;
        font-size: 20px;
        &:hover {
            color:red;
            transition: 0.3s;
        }
    }
    &__list{
        display: flex;
        justify-content: space-around; 
        flex-wrap: wrap;
        padding: 20px;
    }
    &__img{
        width: 100%;
        height: 100%;
        
        
    }
    &__overlay {
        position: absolute;
        background: #2e93b4;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__card{
        position: relative;
        margin: 20px 0 ;
      
    }
    &__description{
        color: #fff;
        font-size: 20px;
        margin-top: 30%;
        
    }
}



.portfollio__card:hover .portfollio__overlay{
    display: block;
    animation: yourAnimation 0.3s forwards 0s ease-out;
    
}

.footer{
    margin-top: 100px;
    background-color: #282828;
    height: 100%;
    color: #c9cacb;
    position: relative;
    
    &__logo{
        margin-left: 10%;
        
    }
    &__img{
        
    }
    &__info {
        margin-left: 10%;
        width: 100%;
        padding: 10px 0;
        display: flex;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        margin: 0 auto;
        padding: 30px 0;
    }
    &__title--1{
        margin-left: 7%;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 11%;
            top: 50px; 
            transform: translateX(-50%);  
             
        }
        
    }
    &__title--2{
        margin-left: 10%;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            border-bottom: solid 3px #5dc6e8;
            left: 20%;
            top: 50px; 
            transform: translateX(-50%);  
             
        }
        
    }
    
    &__span{
        margin-top: 10px;
    }
    &__center__column{
        display: flex;
        
    }
    &__center__card {
        width: 100%;
        margin-left: 20px;
    }
    
    
    
    &__social{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__copyrights{
        padding-top: 10px;
    }
    &__border{
        border-top: solid 1px #888;
    }

}

.container__footer__down{
    margin:0 auto;
    max-width: 2150px;
}

.ficon{
    color: #5dc6e8;
    margin-top: 13px;
    padding-right: 15px;
}







@media screen and (max-width: 767px)  {

        .fixed{
            display: none;
        }

        #hide {
            display: none;
        }

    .intro {
        background-position: center;
        &__info{
        display:none;
        }
    }
    
    .nav{
        &__wrapper{
            
        }
        &__list{
            display: none;    
        }
        &__link{
            
        }
        &__logo{
            position: relative;
            display: block;
            padding:10px;        
        }
        &__wrapper{
            margin: 0;
        }
    }
    .hamicon{
        display: block;
        font-size: 35px;
        margin-left: 80%;
        position: absolute;
        top: 20px;

    }

   

    .active {
        position: absolute;
        top: 8%;
        width: 100%;
        display: block;
        background-color: black;
        z-index: 1; 
        animation: navbar 0.5s forwards 0s ease-out
    }

    

    .slogan {
        margin: 0;
        &__title{
            padding-top: 50%;
        }
    }

    .about{
        display: block;
        &__title{
            text-align: center;
            font-size:25px;
            &::after{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__img{
            display: none;
        }
    } 

   

    

    

    .team{
        &__title{
            
            &::after{
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__wrapper {
            display: block;  
            
        }
        &__span{
            margin-bottom: 100px;
        }

        &__img{
            margin: 0 auto;
            width: 60%;
        
        }
        &__background{
            width: 60%;
            margin: 0 auto;
        }
       
    }
    .team__card:hover .team__overlay{
        display: none;
    }

    .portfollio{
        &__title{
            margin-top: 0;
            &::after{
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            
        }
        &__card {
            
        }

        &__list{
            display: flex;
            justify-content: center; 
            flex-wrap: wrap;
            
            
        }
    }

    .portfollio__card:hover .portfollio__overlay{
        display: none;
        
    }
    

    

  
  @media screen and (min-width: 768px) and (max-width: 1300px) {
  

    .slogan {
        margin: 0;
        &__title{
            padding-top: 30%;
        }
    }

    .team{
        &__title{
            
            &::after{
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__card{
            text-align: center;
        }
        &__span{
            margin-bottom: 100px;
        }

        &__img{
            margin: 0 auto;
            width: 70%;
        }
        &__overlay{
            margin: 0 auto;
            width: 70%;
        }
       
    }

 



    .portfollio{
        &__title{
            margin-top: 0;
            &::after{
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__list {
            margin: 0;
        }
        &__img{
            width: 100%;
            height: 100%;
        }
        &__card {
        }
    }
    .about{
        display: block;
        &__title{
            text-align: center;
            font-size:25px;
            &::after{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__img{
            display: none;  
        }
    } 
}

.fixed {
    justify-content: space-evenly;
   
}


  }