* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container { 
	max-width: 1700px;
	margin: 0 auto;
}

.container__team { 
	max-width: 1400px;
	margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;;
}

.intro {
    background-image: url("../images/hero.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    &__info { 
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        border-bottom: solid 1px #888;
    }
    &__list {
        display: flex;
        cursor: pointer;
        
    }
    &__item{
        padding: 20px;
    }
    &__social {
       padding: 10px;
    }
}
.fas {
    padding-right: 5px;
    &:hover {
        color: #5dc6e8;
        transition: 0.3s;
    }
}

.fab {
    padding: 10px;
    font-size: 20px;
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;
    }
}

.nav {
    color: white;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__list{
        display: flex;
    }
    &__item {
        padding: 15px 10px;
    }
    &__link { 
        &:hover {
            color: #5dc6e8;
            transition: 0.3s;     
        }
    }
}
.hamicon{
    display: none;
}

.slogan{
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 15%;
    &__title {
        font-size: 40px;
        opacity: 0.7;
    }
    &__subtitle {
        font-size: 40px;
        opacity: 0.5;
        margin-bottom: 40px;
    }
    &__link {
        padding: 10px 20px;
        border: 2px solid #2e93b4;
        background-color: #2e93b4;
        &:hover {
            background-color: rgba(255,255,255,0);
            transition: 0.3s;
        }
    }
}

.about{
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 100px;
    margin: 100px;
    &__title{
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        color: #4c5152;
        margin-bottom: 50px;
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            border-bottom: solid 3px #5dc6e8;
            left: 0;
            top: 100%;
        }
    }
    &__span{
        margin: 30px 0;
        color: #777;
    }
    &__img{
        margin-top: 30px;
        height: 80%;
        width: 80%;
    }
}

.skills {
    background-image: url("../images/skills.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 672px;
    color: white;
    &__title{
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        color: #4c5152;
        margin-bottom: 50px;
        margin-left: 20.5%;
        padding-top: 5%;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 0;
            top: 105%;
        }
    }
    &__span {
        margin-top: 5%;
        margin-left: 20.5%;
        color: #6D687E;
        font-size: 20px;
        max-width: 500px;
    }
}

.services {
    margin-top: 75px;
    text-align: center;
    &__title {
        font-size: 30px;
        text-transform: uppercase;
        color: #4c5152;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 48%;
            top: 50px;      
        }
    }
    &__content {
    margin-top:100px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    margin-left: 23%;
    grid-gap: 100px;
    }
    &__card {
        margin: 0 auto;
        padding: 50px;
        background-color: #f7f7f7;
        
    }
    &__subtitle {
        margin-bottom: 10px;
    }
    &__span{
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        color: #777;
    }
    &__img{
        margin-top: 75px;
        width: 100%;
       
    }
}

.icon {
    color: #5dc6e8;
    font-size: 30px;
    margin-bottom: 10px;
}



.team {
    &__title {
        margin: 100px;
        text-align: center;
        font-size: 30px;
        color: #4c5152;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 85px;
            border-bottom: solid 3px #5dc6e8;
            left: 48%;
            top: 50px;      
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-gap: 2em;
        text-align: center
      
    }
    &__description {
        margin: 50px 0 20px;
        text-align: center;
        font-size: 35px;
    }
    &__span{
        font-size: 35px;
        text-align: center;
    }
    &__card {
        width: 100%;
        position: relative;
    }
    &__overlay {
        position: absolute;
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__img{
        display: block;
        width: 100%;
        height: auto;
    }
}


.team__card:hover .team__overlay{
    display: block;
    
    animation: yourAnimation 0.3s forwards 0s ease-out;
    
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) scale(0);
        }
    100%{
        transform: rotate(0) scale(1);
        }
}







.portfollio {
    text-align: center;
    
    &__title{
        margin-top: 250px;
        font-size: 30px;
        color: #4c5152;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 48%;
            top: 50px;      
        }
        
    }
    &__list {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }
    &__item{
        padding: 10px;   
    }
    &__link{
        font-size: 20px;
        &:hover {
            color:red;
            transition: 0.3s;
        }
    }
    &__gallery{
        max-width: 1024px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% auto auto; 
    }
    &__img{  
        width: 300px;
        height: 300px;
        padding: 20px;
    }
}

.footer{
    margin-top: 100px;
    background-color: black;
    height: 30vh;
    color: white;
    position: relative;
    &__title{
        
        margin-left: 25%;
        padding: 40px 0 20px;
    }
    &__span{
        margin-left: 25%;
        padding: 10px 0;
    }
    &__social{
        position: absolute;
        left:62%;
        top:20%;
    }
}

.ficon{
    color: #5dc6e8;
}

.ficon2 {
    font-size: 30px;
    width: 30px;
    margin: 10px;
    padding: 20px;
    color: black;
    border-radius: 50%;
    background-color: #777;
    text-align: center;
    &:hover {
        background-color: #5dc6e8;
        color:white;
        transition: 0.3s;
    }
}





@media screen and (max-width: 767px)  {
    .intro {
        background-position: center;
        &__info{
        display:none;
        }
    }
    
    .nav{
        &__wrapper{
            
        }
        &__list{
            display: none;    
        }
        &__link{
            
        }
        &__logo{
            position: relative;
            display: block;
            padding:10px;        
        }
        &__wrapper{
            margin: 0;
        }
    }
    .hamicon{
        display: block;
        font-size: 35px;
        margin-left: 80%;
        position: absolute;
        top: 20px;

    }

    .active {
        position: absolute;
        top: 12%;
        width: 100%;
        display: block;
        background-color: black;
        z-index: 1; 
    }

    

    .slogan {
        margin: 0;
        &__title{
            padding-top: 50%;
        }
    }

    .about{
        display: block;
        &__title{
            text-align: center;
            font-size:25px;
            &::after{
                left: 10vw;
            }
        }
        &__img{
            display: none;
        }
    } 

    .skills {
        background-image: url("../images/rwd__skills.png");
        width: 100%;
        &__title{
            padding-top: 90px;
            &::after{
                top: 140px;
                left: 20vw;
            }
        }
        &__span{
            display: none;
            text-align: center;
        }
    }

    .services{
        &__title{
            margin-bottom: 50px;
            &::after{
                top: 45px;
                left: 140px;
            }
        }
        &__content{
            margin: 0 auto;
            display: block;
        }
        &__card{
            margin-bottom: 20px;

        }
        &__img {
            display: none;

        }
    }

    .team{
        &__title{
            
            &::after{
                top: 45px;
                left: 25%;
            }
        }
        &__wrapper {
            display: block;  
            
        }
        &__span{
            margin-bottom: 100px;
        }

        &__img{
            margin: 0 auto;
            width: 60%;
        
        }
       
    }
    .team__card:hover .team__overlay{
        display: none;
    }

    .portfollio{
        &__title{
            margin-top: 0;
            &::after{
                top: 45px;
                left: 140px;
            }
        }

        &__gallery{
            display: block;
        }
    }

    .footer {
        text-align: center;
        margin:0;
        padding: 0;
        height: 300px;
        &__title{
            margin:0;
        }
        &__span{
            margin: 0;
        }
        &__social{
            position: relative;
            top: 0;
            left:0;
            text-align: center;
        }
    }
  }

  
  @media screen and (min-width: 768px) and (max-width: 1300px) {
    body {
        background-color: red;
    }

    .slogan {
        margin: 0;
        &__title{
            padding-top: 30%;
        }
    }


    .team{
        &__title{
            
            &::after{
                top: 45px;
                left: 25%;
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 50% auto; 
            grid-gap: 0px;
        }
        &__card{
            text-align: center;
        }
        &__span{
            margin-bottom: 100px;
        }

        &__img{
            margin: 0 auto;
            width: 70%;
        }
        &__overlay{
            margin: 0 auto;
            width: 70%;
        }
       
    }



    .portfollio{
        &__title{
            margin-top: 0;
            &::after{
                top: 45px;
                left: 140px;
            }
        }

        &__gallery{
            display: grid;
            grid-template-columns: 50% auto;
        }
        &__img{
            margin: 0 auto;
        }
    }


    .services{
        
        &__title{
            margin-bottom: 50px;
            &::after{
                top: 45px;
                left: 140px;
            }
        }
        &__content{
            margin: 0 auto;
            display: grid;
            grid-gap: 0px;
            grid-template-columns: 50% auto;
        }
        &__card{
            margin-bottom: 60px;

        }
        &__img {
            display: none;

        }
    }


    .about{
        display: block;
        &__title{
            text-align: center;
            font-size:25px;
            &::after{
                left: 10vw;
            }
        }
        &__img{
            display: none;
            
        }
    } 



    .skills {
        
        width: 100%;
        &__title{
            padding-top: 90px;
            &::after{
                top: 140px;
                left: 20vw;
            }
        }
        &__span{
            display: none;
            text-align: center;
        }
    }



    .footer {
        text-align: center;
        margin:0;
        padding: 0;
        
        &__title{
            margin:0;
        }
        &__span{
            margin: 0;
        }
        &__social{
            position: relative;
            top: 0;
            left:0;
            text-align: center;
        }
    }




  }