
a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}

$duration: 300ms;
$timing-fn: ease;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$clouds: #ECF0F1;





.gallery{
    text-align: center;
    background-color: #f3f3f3;
    li{
        perspective: 400px;
        list-style-type: none;
    }
    &__title{
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 600;
        color: #222222;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 95px;
            border-bottom: solid 3px #5dc6e8;
            left: 50%;
            top: 90px; 
            transform: translateX(-50%);     
        }
    }
    &__wrapper{
        max-width: 1600px;
        padding-bottom: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__overlay{
        position: absolute;
        background: #2e93b4;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        bottom: 0;
        left: 0;
        right: 0; 
    }
    &__card{
        position: relative;
        margin: 10px;
        img{
            max-width: 100%;
            height: auto;
            
        }
    }
}




.info {
    // hide-initial-state
    transform: rotate3d(1,0,0, 90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #2e93b4;
    opacity: 0.6;
    box-sizing: border-box;
    
    i{
        color:#fff;
        font-size: 25px;
        margin-top: 25%;
       
    }
  }
  
  
  .in-top .info {
     transform-origin: 50% 0%;
     animation: in-top $duration $timing-fn 0ms 1 forwards;
  }
  .in-right .info {
    transform-origin: 100% 0%;
    
    animation: in-right $duration $timing-fn 0ms 1 forwards;
  }
  .in-bottom .info {
    transform-origin: 50% 100%;
    animation: in-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .in-left .info {
    transform-origin: 0% 0%;
    animation: in-left $duration $timing-fn 0ms 1 forwards;
  }
  
  .out-top .info {
    transform-origin: 50% 0%;
    animation: out-top $duration $timing-fn 0ms 1 forwards;
  }
  .out-right .info {
    transform-origin: 100% 50%;
    animation: out-right $duration $timing-fn 0ms 1 forwards;
  }
  .out-bottom .info {
    transform-origin: 50% 100%;
    animation: out-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .out-left .info {
    transform-origin: 0% 0%;
    animation: out-left $duration $timing-fn 0ms 1 forwards;
  }
  
  @keyframes in-top {
    from {transform: rotate3d(-1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-right {
    from {transform: rotate3d(0,-1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-bottom {
    from {transform: rotate3d(1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-left {
    from {transform: rotate3d(0,1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  
  @keyframes out-top {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(-1,0,0, 110.7deg)}}
  @keyframes out-right {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,-1,0, 119.4deg)}}
  @keyframes out-bottom {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(1,0,0, 110.7deg)}}
  @keyframes out-left {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,1,0, 119.4deg)}}
  







  .img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    i {
      color: #fff;
      font-size: 3em;
    }
  }
  
  #overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    // Removes blue highlight
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none; 
    user-select: none; 
    img {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: contain;
      padding: 5%;
      @media screen and (min-width:768px) {
          width: 60%;
      }
      @media screen and (min-width:1200px) {
          width: 50%;
      }
    }
  }
  
  #nextButton {
    color: #fff;
    font-size: 25px !important;
    transition: opacity 0.8s;
    padding: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #prevButton {
    color: #fff;
    font-size: 25px !important;
    transition: opacity 0.8s;
    padding: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }
  
  #exitButton {
    color: #fff;
    font-size: 25px !important;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (min-width:768px) {
      font-size: 3em;
    }
  }